RewriteEngine on
RewriteBase /
RewriteRule ^(contact|login|register|affiliate|post-ad|logout|search|faq)?$ index.php?a=$1 [L]
RewriteRule ^page/(.*)?$ index.php?a=page&prefix=$1 [L]
RewriteRule ^account/(wallet|transactions|trades|settings|advertisements|verification)?$ index.php?a=account&b=$1 [L]
RewriteRule ^account/transactions/(.*)?$ index.php?a=account&b=transactions&page=$1 [L]
RewriteRule ^account/trades/(.*)?$ index.php?a=account&b=trades&page=$1 [L]
RewriteRule ^account/advertisements/page/(.*)?$ index.php?a=account&b=advertisements&page=$1 [L]
RewriteRule ^account/advertisements/edit/(.*)?$ index.php?a=account&b=advertisements&c=edit&id=$1 [L]
RewriteRule ^account/advertisements/delete/(.*)?$ index.php?a=account&b=advertisements&c=delete&id=$1 [L]
RewriteRule ^account/advertisements/confirm/delete/(.*)?$ index.php?a=account&b=advertisements&c=delete&id=$1&confirm=1 [L]
RewriteRule ^password/reset?$ index.php?a=password&b=reset [L]
RewriteRule ^password/change/(.*)?$ index.php?a=password&b=change&hash=$1 [L]
RewriteRule ^email-verify/(.*)?$ index.php?a=email_verify&hash=$1 [L]
RewriteRule ^buy-bitcoins?$ index.php?a=buy_bitcoins [L]
RewriteRule ^buy-bitcoins/(.*)?$ index.php?a=buy_bitcoins&page=$1 [L]
RewriteRule ^buy-bitcoins-(.*)?$ index.php?a=buy_bitcoins&pm=$1 [L]
RewriteRule ^buy-bitcoins-(.*)/(.*)?$ index.php?a=buy_bitcoins&pm=$1&page=$2 [L]
RewriteRule ^search(.*)?$ index.php?a=search&page=$1 [L]
RewriteRule ^sell-bitcoins?$ index.php?a=sell_bitcoins [L]
RewriteRule ^sell-bitcoins/(.*)?$ index.php?a=sell_bitcoins&page=$1 [L]
RewriteRule ^sell-bitcoins-(.*)?$ index.php?a=sell_bitcoins&pm=$1 [L]
RewriteRule ^sell-bitcoins-(.*)/(.*)?$ index.php?a=sell_bitcoins&pm=$1&page=$2 [L]
RewriteRule ^ad/(.*)-to-Bitcoin/(.*)?$ index.php?a=ad&id=$2 [L]
RewriteRule ^ad/Bitcoin-to-(.*)/(.*)?$ index.php?a=ad&id=$2 [L]
RewriteRule ^trade/Bitcoin-to-(.*)/(.*)?$ index.php?a=trade&b=process&id=$2 [L]
RewriteRule ^trade/(.*)-to-Bitcoin/(.*)?$ index.php?a=trade&b=process&id=$2 [L]
RewriteRule ^cancel/trade/(.*)?$ index.php?a=trade&b=cancel&id=$1 [L]
RewriteRule ^report/trade/(.*)?$ index.php?a=trade&b=report&id=$1 [L]
RewriteRule ^leave-feedback/trade/(.*)?$ index.php?a=trade&b=leave-feedback&id=$1 [L]
RewriteRule ^user/(.*)?$ index.php?a=user&username=$1 [L]
RewriteRule ^user/(.*)/(.*)?$ index.php?a=user&username=$1&page=$2 [L]